@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}

.create-contact {
  width: 350px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;

  >* {
    display: block;
    line-height: 35px;

    >* {
      display: inline-block;
    }

    label {
      width: 150px;
    }
  }
}

.submit-button {
  margin: 10px auto 0;
  width: 100px
}
